<form method = "post">
  <label for="title">Title of Post</label>
  <input name= "title">
</br>
  <label for="body">Body</label>
  <textarea name="body"></textarea>
</br>
  <input type="submit" value="Submit!">
</form>
