<h1>Home Page</h1>

<div id="posts">
<% @posts.each do |post| %>
  <h2>Title: <%= post.title %></h2>
  <p>Post:<%= post.body %></p>
  <h4><u>COMMENTS</u></h4>
  <% post.comments.each do |comment| %>
    <h4><%= comment.body %></h4>
    <% end %>
    <% end %>
</div>
