<h1>Home Page</h1>

<% @posts.each do |post| %>
  <h2><%= post.title %></h2>
  <p><%= post.body %></p>
  <h4>COMMENTS</h4>
  <% post.comments.each do |comment| %>
    <h4><%= comment.body %></h4>
    <% end %>
    <% end %>
