<!DOCTYPE html>
<html>
  <head>
   		<meta charset="utf-8">
		<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Bellefair|Cinzel|Courgette|Gudea|Permanent+Marker|Poiret+One|Quicksand|Raleway|Oswald" rel="stylesheet">
		<link rel="stylesheet" href="css/default.css" type="text/css">
		<link rel="shortcut icon" src="/images/switch.ico"/>
    <link rel="shortcut icon" type="image/x-icon" href="/images/Switch.ico" />
</head>
	<title>Switch</title>
  </head>
  <body>
    <div class= "container">
        <a href="/logout">Log Out</a>
        <a href="/profile">My Profile</a>
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/signup">Sign Up</a>
    </div>
    <img class="herofight" src="/images/herofight5.png">
    <% if flash[:message] %>
  <div class="message"><%= flash[:message] %></div>
<% end %>
    <%= yield %>
  <script src="/js/main.js"> </script>
  </body>
</html>
