<!DOCTYPE html>
<html>
  <head>
   		<meta charset="utf-8">
		<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Bellefair|Cinzel|Courgette|Gudea|Permanent+Marker|Poiret+One|Quicksand|Raleway|Oswald" rel="stylesheet">
		<link rel="stylesheet" href="css/default.css" type="text/css">
		<link rel="shortcut icon" src="/images/switch.ico"/>
	<title>Switch</title>
  </head>
  <body>
<<<<<<< HEAD
  	<div class= "container">
        <a href="/signup">Sign Up</a>
        <a href="/login">Login</a>
=======
    <div class= "container">
        <a href="/signup">Sign Up</a>
        <a href="/login">Login</a> 
>>>>>>> 8124f45005dc46350d45fa131e4acb74b0654723
        <a href="/">Home</a>
        <a href="/profile">My Profile</a>
        <a href="/logout">Log Out</a>
    </div>
    <img id="herofight" src="/images/herofight5.png">
    <%= flash[:message] if flash[:message] %>
    <%= yield %>
  <script src="/js/main.js"> </script>
  </body>
</html>
