h1 {
	font-family:"Permanent Marker";
	font-size: 40px;
	text-decoration-color: white;
}
body {
	width: 80%;
	margin: auto;
	font-family: "Amatic SC"
	text-decoration-color: white;
}

#signin {
	float: right;
	font-family: "Amatic SC";
	text-decoration-color: white;
}

#backgroundimg {
	background-image: url(public/images/RedSunburst.png);
	background-size: cover;
}

#cover {
	width: 80%;
	margin: auto;
	background-image: url(public/images/herofight.jpg);
}

#container {
	display: inline-block;
	top: 0;
	position: fixed;
	text-align: center;
	font-family: "Amatic SC"
	font-size: ;
	width: 80%;
	margin: 0;
}