h1 {
	font-family:"Permanent Marker";
	font-size: 50px;
	text-decoration-color: white;
	text-align: center;
	text-decoration: underline;
}

h2 {
	font-family: "Permanent Marker";
	font-size: 40px;
}

p {
	font-family: "Oswald";
	font-size: 20px;
}

h4 {
	font-family: "Permanent Marker";
	font-size: 16px;
}

body {
	margin: auto;
	font-family: "Permanent Marker";
	color: #FDF5E6;
	background-image: url(/images/RedSunburst.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
}

form{
	width:20%;
	margin: auto;
}
/* Edit the Flash messages */
div.message{
	width:20%;
	margin:auto;
	font-size: 30px;
	color:#0027f5
}
/*New posts container*/
div.new_post{
	margin:auto;
	width: 20%;

}


div.container a{
	float: right;
}

div.container a{
    font-family: "Permanent Marker";
    margin: 0 auto;
    text-align: center;
  }

div.container a{
      color: #FDF5E6 ;
       text-decoration: none;
       font: 30px "Permanent Marker";
       margin: 0px 10px;
       padding: 10px 10px;
       position: relative;
       z-index: 0;
       cursor: pointer;
}

div.container a:before, div.container a:after
{
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
}

div.container a:before
{
    left: 0px;
    top: 0px;
}

div.container a:after
{
    right: 0px;
    bottom: 0px;
}

div.container a:hover:before, div.container a:hover:after
{
    opacity: 1;
    height: 2px;
    width: 100%;
}

img {
	margin-top: 0;
}


#login {
	margin: 0 auto;
	text-align: center;
	text-decoration-color: white;
	width: 80%;
	height: 20vh;
}

#posts {
	width: 60%;
	margin: 0 auto;
/*	margin-top: 280px;*/
/*	padding-left: 120px;*/
	background-color: rgba(255, 0, 30, 0.7);
}

img.herofight {
	width:100%;

.linkbutton {
	display: inline-block;
	padding: 20px;
	text-align: center;
	margin: 0 auto;
}
